{% extends "bootstrapbase.html" %}
<!DOCTYPE html>
{% block head %}
    <title>Google Map</title>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgbNAbje5RxJ_mfXjuq8Nm1PSHcBbS3-0">
    </script>
{% endblock %}
{% block content%}
  <div class="jumbotron">
  <h1>Flask Google Maps </h1>

  <h2> Google Dev Bus - Yuntech </h2>
  {% with %}

      {% set location=(23.696167,120.533995) %}
      {% set style="width:1000px;height:500px;"%}

      {{
      googlemap(
          "simple-map",
          location.0, location.1,
          markers=[location,],
          style=style
          )
      }}

  {% endwith %}
</div>

{% endblock %}
